PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/assettrack
JWT_SECRET=replace-with-strong-secret
JWT_EXPIRES_IN=8h
AZURE_WEBAPP_NAME=assettrack-app
AZURE_RESOURCE_GROUP=assettrack-rg
AZURE_LOCATION=eastus
